button {
    margin: 0;
    text-align: center;
}

.center-h {
    display: flex;
    /* or display:grid */
    justify-content: center;
}

textarea {
    font-family: Consolas, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
}